<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-featured" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> <?php echo $text_edit; ?></h3>
      </div>
      <div class="panel-body">
        <form action="<?php echo $action; ?>" method="post" enctype="multipart/form-data" id="form-featured" class="form-horizontal">        
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-color"><?php echo $entry_color; ?></label>
            <div class="col-sm-10">
              <select name="progress_color" id="input-color" class="form-control">
                <?php foreach ($data['colors'] as $key => $value) { ?>
                  <?php if($progress_color) { ?>
                    <?php if($progress_color == $value) { ?>
                      <option value="<?php echo $progress_color; ?>" selected="selected"><?php echo $progress_color; ?></option>
                    <?php } else { ?>
                      <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                    <?php } ?>
                  <?php } else { ?>
                    <option value="<?php echo $value; ?>"><?php echo $value; ?></option>
                  <?php } ?>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-theme"><?php echo $entry_theme; ?></label>
            <div class="col-sm-10">
              <select name="progress_theme" id="input-theme" class="form-control">
                <?php foreach ($data['themes'] as $key => $value) { ?>
                  <?php if($progress_theme) { ?>
                    <?php if($progress_theme == $value) { ?>
                      <option value="<?php echo $progress_theme; ?>" selected="selected"><?php echo $key; ?></option>
                    <?php } else { ?>
                      <option value="<?php echo $value; ?>"><?php echo $key; ?></option>
                    <?php } ?>
                  <?php } else { ?>
                    <option value="<?php echo $value; ?>"><?php echo $key; ?></option>
                  <?php } ?>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-script-path"><?php echo $entry_script_path; ?></label>
            <div class="col-sm-10">
              <input type="text" name="progress_script" value="<?php echo 'catalog/view/javascript/pace/js/pace.min.js'; ?>" placeholder="<?php echo $entry_script_path; ?>" id="input-script-path" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-style-path"><?php echo $entry_style_path; ?></label>
            <div class="col-sm-10">
              <input type="text" name="progress_style" value="<?php echo $progress_style; ?>" placeholder="<?php echo $entry_style_path; ?>" id="input-style-path" class="form-control" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status"><?php echo $entry_status; ?></label>
            <div class="col-sm-10">
              <select name="progress_status" id="input-status" class="form-control">
                <?php if ($progress_status) { ?>
                <option value="1" selected="selected"><?php echo $text_enabled; ?></option>
                <option value="0"><?php echo $text_disabled; ?></option>
                <?php } else { ?>
                <option value="1"><?php echo $text_enabled; ?></option>
                <option value="0" selected="selected"><?php echo $text_disabled; ?></option>
                <?php } ?>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-sm-2 control-label" for="credit">Credit</label>
            <div class="col-sm-10">
              <label class="control-label">
                <a href="http://github.hubspot.com/pace/docs/welcome/" target="_blank">PACE - Automatic page load progress bar</a>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function(){
  $("#input-color, #input-theme").change(function(){
    $('#input-style-path').val('catalog/view/javascript/pace/themes/' + $("#input-color option:selected").text() + '/pace-theme-' + $("#input-theme option:selected").val() + '.css');
  });
});
</script>
<?php echo $footer; ?>